<h2>Edit an existing Hike</h2>
<%= form_with model: @hike do |form| %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_field :description %>

  <br>
  <%= form.submit 'Edit Hike'%>
<% end %>

