
<h2><%= @hike.name %></h2>

<%= @hike.description %>

<br>
<%= button_to 'Delete Item', delete_hike_path(@hike), method: :delete, form:{data: { 'turbo-confirm': 'Are you sure?'} }%>
<br>
<%= link_to 'Edit Hike', edit_hike_path(@hike)%>  
<br>
<%# <%= link_to 'back to all the hikes', '/' %> 
<%= link_to 'back to all the hikes', hikes_path %>
